* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.nav-box{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.center {
    display: flex;
}

header {
    height: 800px;
    animation: changeBackgroundImage 15s infinite;
    background-size: cover;
    background-position: center center;
    align-items: self-start;
    justify-content: space-around;
}

@keyframes changeBackgroundImage {
    0% {
      background-image: url("../img/background-bike.jpg"); 
    }
    33% {
      background-image: url("../img/background-lift.jpg"); 
    }
    66% {
      background-image: url("../img/background-run.jpg"); 
    }
    100% {
      background-image: url("../img/background-bike.jpg"); 
    }
  }

.logo img {
    margin-right: 32px;
    width: 120px;
}

.logo img:hover {
    margin-top: 100px;
    width: 200px;
    border-radius: 50%;
}

.hlogo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hlogo>.h {
    margin: 0;
    color: green;
}

.hlogo>.h:hover {
    color: greenyellow;
}

nav ul{
    margin: 0;
}

nav ul li {
    padding: 16px;
    list-style-type: none;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

nav ul a:hover{
    color: blue;
    font-size: 1.4em;
}

nav ul a:active {
    color: greenyellow;
  }

#home {
    text-decoration: underline;
    font-weight: bold;
}