.staff {
    height: 250px;
    background-color: rgb(178, 132, 17);
    text-align: center;
}

.staff h3 {
    padding: 16px 0;
    font-weight: lighter;
    font-size: 2em;
}

.inner-box {
    display: flex;
}

.inner-box img {
    float: left;
    width: 150px;
    border-radius: 50%;
    padding: 8px;
}

.inner-box p {
    margin: 0;
}